.gameboard {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #276319;
  border-radius: 10px;
  height: 550px;
  width: 60vw;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(15, 4, 4);
}

#wcup {
  border-radius: 5px;
  margin-top: 20px;
}

#startb {
  display: block;
  margin: auto;
  margin-top: 30px;
}

#resetb {
  display: block;
  margin: auto;
  margin-top: 30px;
}

#tremain {
  color: red;
  font-weight: 700;
}

#qsection {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
}

.answerchoice {
  border: 1px solid black;
  border-radius: 5%;
  width: 40%;
  color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;
}
